HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=R5bQp9b0y8mKx7A6n4XWgJv2Lw9r4k9s+A==,Jv2Lw9r4k9sMh6E3m5YZwBv8Nk2z5q7t+B==,Bv8Nk2z5q7tPf1C4n9XDgKx5Lc8v1j6k+C==,Kx5Lc8v1j6kNg7F2m4YCwR5bQp9b0y8m+D==
API_TOKEN_SALT=L9pQw2vR5bKx7A6n4XWgJv2Lw9r4k9sM
ADMIN_JWT_SECRET=R5bQp9b0y8mKx7A6n4XWgJv2Lw9r4k9s
TRANSFER_TOKEN_SALT=Bv8Nk2z5q7tPf1C4n9XDgKx5Lc8v1j6k
JWT_SECRET=Mh6E3m5YZwJv2Lw9r4k9sR5bQp9b0y8m
ENCRYPTION_KEY=Jv2Lw9r4k9sMh6E3m5YZwBv8Nk2z5q7t+E==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SSL=false